<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nome", input_html: { size: 50 } %>
    <%= f.input :description, label: "Descrição", as: :text, input_html: { cols: 50, rows: 5 } %>
    <%= f.input :visibility, label: "Visibilidade", as: :select, collection: visibility_enum, input_html: {value: visibility_enum.first} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
