<%= simple_form_for(@task, remote: true) do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <% if f.error_notification %>
            <%= f.error_notification %>
          <% end %>
        </div>

        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :list, as: :hidden, input_html: { value: @list.id } %>
            <%= f.input :description, label: "Descrição da tarefa", input_html: {size: 75} %>
            <%= f.input :date, label: "Data", input_html: {:"data-provide" => "datepicker", :id => "datapicker"} %>
            <%= f.input :status, label: "Andamento da atividade", as: :select, collection: status_enum, include_blank: false, input_html: {value: status_enum.first} %>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-actions">
            <%= link_to "Cancelar", nil, :class => "btn btn-default", :id => "cancel-task" , :"data-dismiss" => "modal", :"data-target" => '#cancel-task' %>
            <%= f.button :submit, :class => "btn btn-primary", :id => "create-task" %>
          </div>
        </div>

      </div>
    </div>
<% end %>

<script>
  $('#datepicker').datepicker({format: 'dd-mm-yyyy'});
</script>