<h5 class="breadcrumb"><%= link_to "Minhas listas", lists_path %> > <%= @list.name %></h5>

<table class="table">
  <thead>
    <tr>
      <th class="col-sm-4">Descrição</th>
      <th class="col-sm-4 task-status">Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= format_description(task.description) %></td>
        <td class="task-status">
          <% if task.done %>
            <%= link_to image_tag('checked_icon.png'), mark_as_undone_task_path(task), :class => 'task-status', :id => task.id, :remote => true, :method => :post %>
          <% else %>
            <%= link_to image_tag('unchecked_icon.png'), mark_as_done_task_path(task), :class => 'task-status', :id => task.id, :remote => true, :method => :post %>
          <% end %>
        </td>
        <td><%= link_to 'Editar descrição', edit_task_path(task), :class => 'edit-task', :"data-toggle" => 'modal', :"data-target" => '#task-modal', :remote => true %></td>
        <td><%= link_to 'Deletar', task, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta tarefa?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="add-task-content">
  <%= image_tag('add_icon.png', :class => 'add-task') %>
  <%= link_to "Adicionar tarefa", new_task_path(list: @list), :class => 'add-task', :"data-toggle" => 'modal', :"data-target" => '#task-modal', :remote => true %>
</div>

<div class="bootstrap-modal modal fade in" id="task-modal" aria-hidden="false"></div>